@import '../../constants/themes.scss';

.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 2rem 2rem;

    .app__footer-card {
        min-width: 290px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        margin: 1rem 0;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
    
        @include themed() {
            background-color: t($contact-card);
        }

        transition: all 0.3s ease-in-out;

        img {
            width: 40px;
            height: 40px;
            margin: 0 0.7rem;
        }

        p {
            font-weight: 600;
        }

        span {
            text-decoration: none;
            font-weight: 500;
        }

        a {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;    
        }

        &:hover {
            // box-shadow: 0 0 25px #dfdcdc;
            @include themed() {
                box-shadow: t($box-shadow);
            }
        }

        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 100%;

        margin: 0.75rem 0;
        border-radius: 10px;
        cursor: pointer;

        // background-color: var(--white-color);
        @include themed() {
            background-color: t($form-background);
        }

        input, textarea {
           width: 100%;
           padding: 0.95rem;
           border: none;
           border-radius: 7px;
      
           @include themed() {
            background-color: t($form-background);
            color: t($text-color)
           }

           font-family: var(--font-base);
    
           outline: none;
        }

        textarea {
            height: 170px;
            resize: none;
        }

        &:hover { 
            @include themed() {
                box-shadow: t($form-shadow);
                transition: all 0.3s ease-in-out;
            }
        }

    }

    button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        
        @include themed() {
            background-color: t($button-color);
        }

        font-weight: 500;
        color: var(--white-color);
        outline: none; 
        margin: 2rem 0 0 0;
        font-family: var(--font-base);
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            @include themed() {
                background-color: t($button-hover-color);
            }
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}

.app__footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include themed() {
        color: t($text-color)
    }

    img {
        max-width: 250px;

        @media screen and (max-width: 450px) {
            max-width: 230px;
        }
    }

    span {
        font-weight: 500;
        font-size: 1.4rem;
    }
}

.app__footer-division {
    width: 100%;
    color: black;
    margin-top: 4rem;
}

.app__footer-social {
    display: none;

    padding: 1rem;
    margin-bottom: 1rem;

    a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0.25rem 0.5rem;
       
        @include themed() {
            background-color: t($form-background);
            border: t($social-div-border)
        }

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.3s ease-in-out;

        svg {
            width: 15px;
            height: 15px;
            color: var(--gray-color);
        }

        &:hover {
            @include themed() {
              background-color: t($active-item);
              border-color: t($active-item);
            }

            svg {
                color: var(--white-color);
            }
        }

    }

    @media screen and (max-width: 500px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}