.app__room {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
    overflow: hidden;

    @media screen and (max-width: 900px) {
        justify-content: flex-start;
    }
}

.app__room-loading {
    // @media screen and (min-width: 1200px) {
    //     img {
    //         max-width: 550px;
    //     }
    // }
  
    @media screen and (max-width: 900px) {
        img {
            width: 550px;
        }
    }
}